################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/vettersystems-odoo-demo/v16
/.vs/slnx.sqlite
/.vs
